<html>
<head>

    <title>Test Results</title>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

</head>
<body>
<div class="page-header">
    <h1>Test Run</h1>
</div>
    <span id="summary" class="well">
    Finished tests in <%= '%.6fs' % total_time %>, <%= ' %.4f tests/s' % (count / total_time) %>, <%= '%.4f assertions/s' % (assertions / total_time) %>
    </span>
</body>
</html>